<div class="container">
    <!-- <label>Home address:</label>
    <input id="homebox" class="form-control" aria-describedby="home" placeholder="Address"> -->
    <div class="row">
        <div class="col-md-4">
            <form>
                <h3>Monday</h3>
                <label for="eventName">Name</label>
                <input type="text" placeholder="Work" name="eventName">
                <br>
                <label for="eventLocation">Location</label>
                <input type="text" placeholder="1234 Fake Street" name="eventLocation">
                <br>
                <div class="col-md-6" id='time-column'>
                    <label for="startTime">Start Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6" id='time-column'>
                    <label for="endTime">End Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form>
                <h3>Tuesday</h3>
                <label for="eventName">Name</label>
                <input type="text" placeholder="Work" name="eventName">
                <br>
                <label for="eventLocation">Location</label>
                <input type="text" placeholder="1234 Fake Street" name="eventLocation">
                <br>
                <div class="col-md-6" id='time-column'>
                    <label for="startTime">Start Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6" id='time-column'>
                    <label for="endTime">End Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form>
                <h3>Wednesday</h3>
                <label for="eventName">Name</label>
                <input type="text" placeholder="Work" name="eventName">
                <br>
                <label for="eventLocation">Location</label>
                <input type="text" placeholder="1234 Fake Street" name="eventLocation">
                <br>
                <div class="col-md-6" id='time-column'>
                    <label for="startTime">Start Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6" id='time-column'>
                    <label for="endTime">End Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form>
                <h3>Thursday</h3>
                <label for="eventName">Name</label>
                <input type="text" placeholder="Work" name="eventName">
                <br>
                <label for="eventLocation">Location</label>
                <input type="text" placeholder="1234 Fake Street" name="eventLocation">
                <br>
                <div class="col-md-6" id='time-column'>
                    <label for="startTime">Start Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6" id='time-column'>
                    <label for="endTime">End Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form>
                <h3>Friday</h3>
                <label for="eventName">Name</label>
                <input type="text" placeholder="Work" name="eventName">
                <br>
                <label for="eventLocation">Location</label>
                <input type="text" placeholder="1234 Fake Street" name="eventLocation">
                <br>
                <div class="col-md-6" id='time-column'>
                    <label for="startTime">Start Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6" id='time-column'>
                    <label for="endTime">End Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form>
                <h3>Saturday</h3>
                <label for="eventName">Name</label>
                <input type="text" placeholder="Work" name="eventName">
                <br>
                <label for="eventLocation">Location</label>
                <input type="text" placeholder="1234 Fake Street" name="eventLocation">
                <br>
                <div class="col-md-6" id='time-column'>
                    <label for="startTime">Start Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6" id='time-column'>
                    <label for="endTime">End Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form>
                <h3>Sunday</h3>
                <label for="eventName">Name</label>
                <input type="text" placeholder="Work" name="eventName">
                <br>
                <label for="eventLocation">Location</label>
                <input type="text" placeholder="1234 Fake Street" name="eventLocation">
                <br>
                <div class="col-md-6" id='time-column'>
                    <label for="startTime">Start Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6" id='time-column'>
                    <label for="endTime">End Time</label>
                    <div class='input-group date' id='timepicker'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>