<div id='scheduler' class="container">
    <!-- <label>Home address:</label>
    <input id="homebox" class="form-control" aria-describedby="home" placeholder="Address"> -->
    <!-- https://stackoverflow.com/questions/11047670/creating-a-jquery-object-from-a-big-html-string -->
</div>