<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <script>
      let str = '';
      let totalDistance = 0, totalTime = 0;
      $(() => {
        $('#calculate').click(() => {
        const home = $('#homebox').val();
        $.get('/api/distance', {'home' : home }, (result) => {
          $.each(result, (i, { from, to, distance, time }) => {
            str = `From ${from} to ${to}: ${distance} total miles and ${time} hours`;
            totalDistance += parseFloat(distance);
            totalTime += parseFloat(time);
            $('#result').append(`<li>${str}</li>`);
          });
          $('#result').append('<br>');
          $('#result').append(`<li>Total time: ${totalTime} and total distance: ${totalDistance}</li>`);
        });
      });
    });
    </script>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/icons8-mobile-home-64.png">
        </a>
        <h1><%= name %></h1>
        <label>Home address:</label>
        <input id="homebox" class="form-control" aria-describedby="home" placeholder="Enter address">
        <h2>Your weekly commute is...</h2>
        <button class="btn btn-primary" id='calculate'>
          Calculate
        </button>
        <div class='pb-1'></div>
        <div id='result'></div>
      </div>
    </div>
  </body>
</html>
