<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <script>
      let str = '';
      $(() => {
        $('#calculate').click(() => {
        let totalDistance = 0, totalTime = 0;
        const home = $('#homebox').val();
        // TODO: make a new endpoint to return totals
        $.get('/api/distance', {'home' : home }, (result) => {
          $.each(result, (i, { from, to, distance, time }) => {
            str = `From ${from} to ${to}: ${distance} total miles and ${time} hours`;
            totalDistance += parseFloat(distance);
            totalTime += parseFloat(time);
            $('#result').append(`<li>${str}</li>`);
          });
          $('#result').append('<br>');
          $('#result').append(`<li>Total time: ${totalTime} and total distance: ${totalDistance}</li>`);
        });
      });
    });
    </script>

    <div class="jumbotron text-center">
        <a href="/" class="lang-logo">
          <img src="/icons8-mobile-home-64.png">
        </a>
        <h1><%= name %></h1>
    </div>
    <% include ../partials/schedule.ejs %>
        <!-- <div class="form-group">
          <h5>Monday</h5>
          <label for="mondayLabel">Name</label>

        </div> -->
        <!-- <h2>Your weekly commute is...</h2>
        <button class="btn btn-primary" id='calculate'>
          Calculate
        </button>
        <div class='pb-1'></div>
        <div id='result'></div>
      </div>
    </div> -->
  </body>
</html>
